@import '~antd/dist/antd.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

html{
  text-align: center;
}

.header {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #FFFFFF;
  height: 75px;
  font-size: 40px;
  line-height: 75px;
  background-color: #1890ff;
}

.fc-time {
  display: none;
}

.fc-title {
  font-size: 10px;
}

.ant-modal {
  height: 500px !important;
  width: 700px !important;
  top: 20px !important;
}

/* .fc {
  width: 90% !important;
  height: 70% !important;
  max-height: 50% !important;
} */


/* .ant-modal-content {
  width: 100%;
  height: 90%;
  max-height: 90%;
} */

tbody {
  cursor: pointer;
}

.hint {
  color: #007AFF;
  margin: 20px auto;
}

.modal-hint {
  color: #007AFF;
  margin: 10px auto;
  font-size: 15px;
}


.table-container {
  width: 90%;
  margin: 10px auto;
}
